*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 40px;
    background-color: brown;
    font-size: 10px;
}
/* Unidades absolutas  */
.title{
    font-size: 3rem;
    /* 3em * 10px = 30px */
    width: 5em;
}
/* rem unidad realtiva al tamaño de la fuente= 1rem=16pxz */

